// text-color
$first-color: #fff;
$second-color:#1F3F68;
$third-color:black;

// tamaño de texto
$xxxl:44px;
$xxl:36px;
$xl:22px;
$l:20px;
$m:16px;
$s:14px;

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.font-bold{
    font-weight: bold;
}