.Section{
    background: linear-gradient(253.6deg, #98D0FC 2.46%, #3481D7 93.24%);
    position: absolute;
    width: 100%;
    height: 130px;

    &-Title{
        text-align: center;
        color: $first-color;
        font-size: $xxxl;
        

    }
    &-Parrafo{
        text-align: center;
        color: $first-color;
        font-size: $l;
        

    }
}